<div class="col-md-4 blog-main box text-center">
        <div class="panel panel-info"><!-- Panel Info -->
    
                      <div class="panel-heading">
                        <h3 class="panel-title"><%= post.title %></h3>
                        <p><%= post.content %></p>
                      </div>
    
                      <div class="panel-body"><!-- Panel Body -->
                        <div style="color: #3BB2D6;"><%= time_ago_in_words(post.created_at) %></div>
                        <br>
    
                        <div class="btn-group" role="group" aria-label="...">
                            <%= link_to 'Edit', edit_post_path(post), class: "btn btn-danger" %>
                            <%= link_to 'Destroy', post, method: :delete, class: "btn btn-danger" %>
                        </div>
                      </div><!-- Panel Body -->
    
                </div><!-- Panel Info -->
                
    
    </div>